**/.env
# Config directories - keep local but don't track in git
**/certs/
**/config/
**/conf/
**/cache/
**/work/
**/data/
**/movies/
**/local-files/
**/playbooks/
**/ssh/
**/tmp/
# Specific log directories
**/logs/
**/log/
# Future Notes/Troubleshooting steps
**/notes.*